#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#image {
    height : 200px;
    width : 200px;
}

#info {
    flex-grow: 1;
    padding : 0 20px;
    padding-top: 10px;
}

#name {
    margin : 0;
    text-align: center;
}

@media (min-width: 620px){
    #content {
        flex-direction: row;
        align-items: initial;
    }
    #info {
        padding-top: 0;
    }
    #name {
        text-align: initial;
    }
}
